@import 'reset.css';
* {
  background: rgba(0,0,255,0.1);
}
html {
  padding: 3rem;
}
aside {
  float: left;
  width: calc(100% * 0.333333333333333);
  position: relative;
  left: calc(100% * 0.666666666666667);
  background: #f00;
}
@media (max-width: 700px) {
  aside {
    position: static;
    left: 0;
  }
}
main {
  float: left;
  width: calc(100% * 0.666666666666667);
  position: relative;
  left: calc(100% * -0.333333333333333);
  background: #008000;
}
@media (max-width: 700px) {
  main {
    position: static;
    left: 0;
  }
}
