@import 'reset.css';
* {
  background: rgba(0,0,255,0.1);
}
html {
  padding: 3rem;
}
section {
  overflow: hidden;
}
section div {
  float: left;
  width: calc(100% * 0.25 - 30px + 0.25 * 30px);
  margin-right: 30px;
}
section div:last-child {
  margin-right: 0;
}
section div:nth-child(1) {
  margin-right: calc(-100% * -0.25 - -0.25 * 30px + 30px);
}
