@import 'reset.css'

*
  background: rgba(blue, 10%)

col(ratio = 1, cycle = 0, gutter = 30px)
  float: left
  width: s('calc(100% * %s - %s + %s * %s)', ratio, gutter, ratio, gutter)
  margin-right: gutter
  &:nth-child({cycle}n), &:last-child
    margin-right: 0

div
  col(1/3, 3)
  div
    col(1/2)
